<ion-view title="Add a Result">
    <ion-nav-buttons side="right">
      <button class="button doubles" ng-click="toggleDoubles()" style="display: none">Singles</button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
        <table class="customMatch">
            <tr>
                <td colspan="3"><input class="nameInput" type="text" name="fname" placeholder="Player 1" id="name1"></td>
            </tr>
            <tr class="doubles" style="display: none"><td colspan="3">
                <td><input class="nameInput" type="text" name="fname" placeholder="Player 3" id="name3"></td>
            </tr>
            <tr style="height: 50px; line-height: 50px">
                <td style="width: 40%; font-size: 52px; text-align: right" id="rounds1">0</td>
                <td style="width: 20%; font-size: 52px; line-height: 45px; vertical-align: top">-</td>
                <td style="width: 40%; font-size: 52px; text-align: left" id="rounds2">0</td>
            </tr>
            <tr>
                <td colspan="3"><input class="nameInput" type="text" name="fname" placeholder="Player 2" id="name2"></td>
            </tr>
            <tr class="doubles" style="display: none">
                <td colspan="3"><input class="nameInput" type="text" name="fname" placeholder="Player 4" id="name4"></td>
            </tr>
        </table>

        <div class="row even">
            <input id="1a" type="text" value="0" class="col-33" style="border: 1px solid grey; text-align: center;">
            <div class="col d col-33 top" style="margin-top: -8px">Game</div>
            <input id="1b" type="text" value="0" class="col-33" style="border: 1px solid grey; text-align: center;">
        </div>
        <div class="row even">
            <div ng-click="scoreBtnCallback('1a', -1)" class="col d col-20 blue">-1</div>
            <div ng-click="scoreBtnCallback('1a', +1)" class="col d ml col-20 blue">+1</div>
            <div class="col d col-20 lm bot">1</div>
            <div ng-click="scoreBtnCallback('1b', -1)" class="col d col-20 blue">-1</div>
            <div ng-click="scoreBtnCallback('1b', +1)"class="col d ml col-20 blue">+1</div>
        </div>
        <div class="row even empty"></div>
        <div class="row even">
            <input id="2a" type="text" value="0" class="col-33" style="border: 1px solid grey; text-align: center;">
            <div class="col d col-33 top" style="margin-top: -4px">Game</div>
            <input id="2b" type="text" value="0" class="col-33" style="border: 1px solid grey; text-align: center;">

        </div>
        <div class="row even">
            <div ng-click="scoreBtnCallback('2a', -1)" class="col d col-20 blue">-1</div>
            <div ng-click="scoreBtnCallback('2a', +1)" class="col d ml col-20 blue">+1</div>
            <div class="col d lm col-20 bot">2</div>
            <div ng-click="scoreBtnCallback('2b', -1)" class="col d col-20 blue">-1</div>
            <div ng-click="scoreBtnCallback('2b', +1)"class="col d ml col-20 blue">+1</div>
        </div>
        <div class="row even empty"></div>
        <div class="row even">
            <input id="3a" type="text" value="0" class="col-33" style="border: 1px solid grey; text-align: center;">
            <div class="col d col-33 top" style="margin-top: -4px">Game</div>
            <input id="1b" type="text" value="0" class="col-33" style="border: 1px solid grey; text-align: center;">
        </div>
        <div class="row even">
            <div ng-click="scoreBtnCallback('3a', -1)" class="col d col-20 blue">-1</div>
            <div ng-click="scoreBtnCallback('3a', +1)" class="col d ml col-20 blue">+1</div>
            <div class="col d lm col-20 bot">3</div>
            <div ng-click="scoreBtnCallback('3b', -1)" class="col d col-20 blue">-1</div>
            <div ng-click="scoreBtnCallback('3b', +1)"class="col d ml col-20 blue">+1</div>
        </div>
        <div class="row even empty"></div>
        <div class="row even">
            <input id="4a" type="text" value="0" class="col-33" style="border: 1px solid grey; text-align: center;">
            <div class="col d col-33 top" style="margin-top: -4px">Game</div>
            <input id="4b" type="text" value="0" class="col-33" style="border: 1px solid grey; text-align: center;">
        </div>
        <div class="row even">
            <div ng-click="scoreBtnCallback('4a', -1)" class="col d col-20 blue">-1</div>
            <div ng-click="scoreBtnCallback('4a', +1)" class="col d ml col-20 blue">+1</div>
            <div class="col d lm col-20 bot">4</div>
            <div ng-click="scoreBtnCallback('4b', -1)" class="col d col-20 blue">-1</div>
            <div ng-click="scoreBtnCallback('4b', +1)"class="col d ml col-20 blue">+1</div>
        </div>
        <div class="row even empty"></div>
        <div class="row even">
            <input id="5a" type="text" value="0" class="col-33" style="border: 1px solid grey; text-align: center;">
            <div class="col d col-33 top" style="margin-top: -4px">Game</div>
            <input id="5b" type="text" value="0" class="col-33" style="border: 1px solid grey; text-align: center;">
        </div>
        <div class="row even">
            <div ng-click="scoreBtnCallback('5a', -1)" class="col d col-20 blue">-1</div>
            <div ng-click="scoreBtnCallback('5a', +1)" class="col d ml col-20 blue">+1</div>
            <div class="col d lm col-20 bot">5</div>
            <div ng-click="scoreBtnCallback('5b', -1)" class="col d col-20 blue">-1</div>
            <div ng-click="scoreBtnCallback('5b', +1)"class="col d ml col-20 blue">+1</div>
        </div>
        <div class="row even empty"></div>

        <label class="item item-input" style="margin: 20px 0px">
            <span class="input-label">Date</span>
            <input type="datetime-local" id="dateInput">
        </label>

        <div style="text-align: center">
            <button ng-click="submitScores()" class="button button-positive" id="submitbutton">Submit</button>
        </div>
        
    </ion-content>
</ion-view>
