<ion-view title="Add a Result">
    <ion-nav-buttons side="right">
      <!-- <button class="button doubles" ng-click="toggleDoubles()">Doubles</button> -->
      <button class="button doubles" ng-click="toggleDoubles()" style="display: none">Singles</button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <table class="customMatch">
            <!-- <tr>
                <td style="text-align: left; width: 45%">Artoliminuni vertagibuski</td>
                <td style="text-align: center; width: 10%">VS</td>
                <td style="text-align: right; width: 45%">Torftyests Ssdsivill</td>
            </tr> -->
            <tr><td colspan="3"><input class="nameInput" type="text" name="fname" placeholder="Player 1" id="name1"></td></tr>
            <tr class="doubles" style="display: none"><td colspan="3"><input class="nameInput" type="text" name="fname" placeholder="Player 3" id="name3"></td></tr>
            <tr style="height: 50px; line-height: 50px">
                <td style="width: 40%; font-size: 52px; text-align: right" id="rounds1">0</td>
                <td style="width: 20%; font-size: 52px; line-height: 45px; vertical-align: top">-</td>
                <td style="width: 40%; font-size: 52px; text-align: left" id="rounds2">0</td>
            </tr>
            <tr><td colspan="3"><input class="nameInput" type="text" name="fname" placeholder="Player 2" id="name2"></td></tr>
            <tr class="doubles" style="display: none"><td colspan="3"><input class="nameInput" type="text" name="fname" placeholder="Player 4" id="name4"></td></tr>
        </table>
        <!-- <div class="button-bar" style="margin-bottom: 20px">
            <a class="button button-positive" ng-click="threeRounds()">3 Rounds</a>
            <a class="button button-positive" ng-click="fiveRounds()">5 Rounds</a>
        </div> -->

        <!-- <table class="roundScores">
            <tr>
                <td colspan="2"><input type="number" name="score" placeholder="0" ng-model="scores.score11" ng-change="score1Change()"></td>
                <td class="middle">
                    1
                </td>
                <td colspan="2"><input type="number" name="score" placeholder="0" ng-model="scores.score12" ng-change="score1Change()"></td>
            </tr>
            <tr>
                <td>
                    <button id="1a1" class="button button-positive lesspad">
                            +1
                        </button>
                    </td>
                    <td>
                        <button id="1a5"class="button button-positive lesspad">
                            +5
                        </button>
                    </td>
                    <td></td>
                    <td>
                        <button id="1b1" class="button button-positive lesspad">
                            +1
                        </button>
                    </td>
                    <td>
                        <button id="1b5" class="button button-positive lesspad">
                            +5
                        </button>
                    </td>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="number" name="score" placeholder="0" ng-model="scores.score21" ng-change="score2Change()"></td>
                <td class="middle">
                    2
                </td>
                <td colspan="2"><input type="number" name="score" placeholder="0" ng-model="scores.score22" ng-change="score2Change()"></td>
            </tr>
            <tr>
                
                    <td>
                        <button id="2a1" class="button button-positive lesspad">
                            +1
                        </button>
                    </td>
                    <td>
                        <button id="2a5"class="button button-positive lesspad">
                            +5
                        </button>
                    </td>
                    <td></td>
                    <td>
                        <button id="2b1" class="button button-positive lesspad">
                            +1
                        </button>
                    </td>
                    <td>
                        <button id="2b5" class="button button-positive lesspad">
                            +5
                        </button>
                    </td>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="number" name="score" placeholder="0" ng-model="scores.score31" ng-change="score3Change()"></td>
                <td class="middle">
                    3
                </td>
                <td colspan="2"><input type="number" name="score" placeholder="0" ng-model="scores.score32" ng-change="score3Change()"></td>
            </tr>
            <tr>
                
                    <td>
                        <button id="3a1" class="button button-positive lesspad">
                            +1
                        </button>
                    </td>
                    <td>
                        <button id="3a5"class="button button-positive lesspad">
                            +5
                        </button>
                    </td>
                    <td></td>
                    <td>
                        <button id="3b1" class="button button-positive lesspad">
                            +1
                        </button>
                    </td>
                    <td>
                        <button id="3b5" class="button button-positive lesspad">
                            +5
                        </button>
                    </td>
                </td>
            </tr>
            <tr class="moreRounds">
                <td colspan="2"><input type="number" name="score" placeholder="0" ng-model="scores.score41" ng-change="score4Change()"></td>
                <td class="middle">
                    4
                </td>
                <td colspan="2"><input type="number" name="score" placeholder="0" ng-model="scores.score42" ng-change="score4Change()"></td>
            </tr>
            <tr>
                
                    <td>
                        <button id="4a1" class="button button-positive lesspad">
                            +1
                        </button>
                    </td>
                    <td>
                        <button id="4a5"class="button button-positive lesspad">
                            +5
                        </button>
                    </td>
                    <td></td>
                    <td>
                        <button id="4b1" class="button button-positive lesspad">
                            +1
                        </button>
                    </td>
                    <td>
                        <button id="4b5" class="button button-positive lesspad">
                            +5
                        </button>
                    </td>
                </td>
            </tr>
            <tr class="moreRounds">
                <td colspan="2"><input type="number" name="score" placeholder="0" ng-model="scores.score51" ng-change="score5Change()"></td>
                <td class="middle">
                    5
                </td>
                <td colspan="2"><input type="number" name="score" placeholder="0" ng-model="scores.score52" ng-change="score5Change()"></td>
            </tr>
            <tr>
                
                    <td>
                        <button id="5a1" class="button button-positive lesspad">
                            +1
                        </button>
                    </td>
                    <td>
                        <button id="5a5"class="button button-positive lesspad">
                            +5
                        </button>
                    </td>
                    <td></td>
                    <td>
                        <button id="5b1" class="button button-positive lesspad">
                            +1
                        </button>
                    </td>
                    <td>
                        <button id="5b5" class="button button-positive lesspad">
                            +5
                        </button>
                    </td>
                </td>
            </tr>
        </table> -->

        <div class="row even">
            <div id="1a" class="col d col-33 grey" style="margin-top: -8px">0</div>
            <div class="col d col-33 top" style="margin-top: -8px">Round</div>
            <div id="1b" class="col d col-33 grey" style="margin-top: -8px">0</div>
        </div>
        <div class="row even">
            <div ng-click="s1a1()" class="col d col-20 blue">+1</div>
            <div ng-click="s1a5()" class="col d ml col-20 blue">+5</div>
            <div class="col d col-20 lm bot">1</div>
            <div ng-click="s1b1()" class="col d col-20 blue">+1</div>
            <div ng-click="s1b5()"class="col d ml col-20 blue">+5</div>
        </div>
        <div class="row even empty"></div>
        <div class="row even">
            <div id="2a" class="col d col-33 grey" style="margin-top: -4px">0</div>
            <div class="col d col-33 top" style="margin-top: -4px">Round</div>
            <div id="2b" class="col d col-33 grey" style="margin-top: -4px">0</div>
        </div>
        <div class="row even">
            <div ng-click="s2a1()" class="col d col-20 blue">+1</div>
            <div ng-click="s2a5()" class="col d ml col-20 blue">+5</div>
            <div class="col d lm col-20 bot">2</div>
            <div ng-click="s2b1()" class="col d col-20 blue">+1</div>
            <div ng-click="s2b5()"class="col d ml col-20 blue">+5</div>
        </div>
        <div class="row even empty"></div>
        <div class="row even">
            <div id="3a" class="col d col-33 grey" style="margin-top: -4px">0</div>
            <div class="col d col-33 top" style="margin-top: -4px">Round</div>
            <div id="3b" class="col d col-33 grey" style="margin-top: -4px">0</div>
        </div>
        <div class="row even">
            <div ng-click="s3a1()" class="col d col-20 blue">+1</div>
            <div ng-click="s3a5()" class="col d ml col-20 blue">+5</div>
            <div class="col d lm col-20 bot">3</div>
            <div ng-click="s3b1()" class="col d col-20 blue">+1</div>
            <div ng-click="s3b5()"class="col d ml col-20 blue">+5</div>
        </div>
        <div class="row even empty"></div>
        <div class="row even">
            <div id="4a" class="col d col-33 grey" style="margin-top: -4px">0</div>
            <div class="col d col-33 top" style="margin-top: -4px">Round</div>
            <div id="4b" class="col d col-33 grey" style="margin-top: -4px">0</div>
        </div>
        <div class="row even">
            <div ng-click="s4a1()" class="col d col-20 blue">+1</div>
            <div ng-click="s4a5()" class="col d ml col-20 blue">+5</div>
            <div class="col d lm col-20 bot">4</div>
            <div ng-click="s4b1()" class="col d col-20 blue">+1</div>
            <div ng-click="s4b5()"class="col d ml col-20 blue">+5</div>
        </div>
        <div class="row even empty"></div>
        <div class="row even">
            <div id="5a" class="col d col-33 grey" style="margin-top: -4px">0</div>
            <div class="col d col-33 top" style="margin-top: -4px">Round</div>
            <div id="5b" class="col d col-33 grey" style="margin-top: -4px">0</div>
        </div>
        <div class="row even">
            <div ng-click="s5a1()" class="col d col-20 blue">+1</div>
            <div ng-click="s5a5()" class="col d ml col-20 blue">+5</div>
            <div class="col d lm col-20 bot">5</div>
            <div ng-click="s5b1()" class="col d col-20 blue">+1</div>
            <div ng-click="s5b5()"class="col d ml col-20 blue">+5</div>
        </div>
        <div class="row even empty"></div>
        

        <label class="item item-input" style="margin: 20px 0px">
            <span class="input-label">Date</span>
            <input type="datetime-local" id="dateInput">
        </label>
        <div style="text-align: center">
            <button ng-click="submitScores()" class="button button-positive" id="submitbutton">Submit</button>
            <!-- <button ng-click="showAlert()" class="button button-positive" id="submitbutton">Submit</button> -->
        </div>
    </ion-content>
</ion-view>