<ion-view title="Find">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
	    <div id="form" >
	    	<form action="#">
	        	<p>
	            	<label class="searchbar item item-input">
						<i class="icon ion-search placeholder-icon"></i>
				  		<input type="search" id="char_press" placeholder="Search">
					</label>
	            	<ion-item ng-click="tapped(player.id)" class="button button-stable smallbutt" id="loadbutton">Search
                        {{player.name}}
                    </ion-item>
                    <!-- <ion-item class="button button-stable smallbutt" ng-click="tapped(player.id)"> -->
                        <!-- {{player.name}} -->
                    <!-- </ion-item> -->
                </p>
            </form>
	    </div>
	</ion-content>
</ion-view>