<ion-view title="My Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <div style="text-align:center;">
            <img src="img/ftOdfjrzSGWKGZbQoN6y_person-icon.png" width="100%" height="auto">
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Club Name</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-select">
                <span class="input-label">Past</span>
                <select>
                    <option>Past Fixture 1</option>
                    <option>Past Fixture 2</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Upcoming</span>
                <select>
                    <option>Fixture 3</option>
                    <option>Fixture 4</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Level Progress</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>