<ion-view title="Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

    	<div id="msg"></div>

	    <div id="form">
	        <p>
	            ID (try 591):
	            <input id="playerid" />
	            <button on-tap="onTap()" class="button button-stable" id="loadbutton">Test</button>
	        </p>
	    </div>


	    <div id="foo"><div>

	    <div id="tabs">
	    	
	    		<h2 class="title">Name </h2>
	    			<div id="tab-main"></div>

	    		<h2 class="title">Stats </h2>
	    			<div id="tab-stats">
				        <p id="p_matches"></p>
				        <div id="matchesbar"></div>
				        <p id="p_games"></p>
				        <div id="gamesbar"></div>
				        <p id="p_points"></p>
				        <div id="pointsbar"></div>
				    </div>
	    
	    		<h2 class="title"> Matches </h2>
	    			<div id="tab-matches">
	        			<table id="dtable" class="display cell-border" width="100%"></table>
	    			</div>
	    	
	    </div>

	</ion-content>
</ion-view>