<ion-view title="Rankings">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

    	

	    <div id="form">
	        <p>
	            <!-- <input id="playerid"/> -->
	            <label class="searchbar item item-input">
				  <i class="icon ion-search placeholder-icon"></i>
				  <input type="search" id="playerid" placeholder="Search">
				</label>
	            <button on-tap="onTap()" class="button button-stable smallbutt" id="loadbutton">Search</button>
	        </p>
	    </div>

	    <div id="msg"></div>

	    <div id="playerlist">
		    <ion-list>
	          <ion-item ng-repeat="item in items" ng-click="search(item)">
	            {{item}}
	          </ion-item>
	        </ion-list>
	    </div>


	    <div id="tabs">
	    	
	    		<h2 class="title tabheader">Name </h2>
	    			<div id="tab-main"></div>

	    		<h2 class="title tabheader">Stats </h2>
	    			<div id="tab-stats">
				        <p id="p_matches"></p>
				        <div id="matchesbar"></div>
				        <p id="p_games"></p>
				        <div id="gamesbar"></div>
				        <p id="p_points"></p>
				        <div id="pointsbar"></div>
				       	<p id="level_hist">
        					<div id="line_chart" style="width: 500px; height: 200px"></div>
        				</p>
				    </div>
	    
	    		<h2 class="title tabheader"> Matches </h2>
	    			<div id="tab-matches">
	        			<table id="dtable" class="display cell-border" width="100%"></table>
	    			</div>
	    	
	    </div>

	</ion-content>
</ion-view>