<ion-view title="Players">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Filters</span>
                <select>
                    <option>Position</option>
                    <option>Player</option>
                    <option>County</option>
                    <option>Last Match</option>
                    <option>Level</option>
                </select>
            </label>
        </form>
        <ion-list id="players"></ion-list>
        <ion-list id="poo">
  <ion-item>Hello!</ion-item>
  <ion-item href="#/detail">
    Link to detail page
  </ion-item>
  <ion-item>Hello!</ion-item>
  <ion-item href="#/detail">
    Link to detail page
  </ion-item>
  <ion-item>Hello!</ion-item>
  <ion-item href="#/detail">
    Link to detail page
  </ion-item>
</ion-list>

        
        <div id="levels"></div>
    </ion-content>
</ion-view>