<ion-view title="Logout">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Filters</span>
                <select>
                    <option>Position</option>
                    <option>Player</option>
                    <option>County</option>
                    <option>Last Match</option>
                    <option>Level</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>