<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <ion-list>
            <div class="centered">
                <button class="button button-positive" ng-click="clearCache()">Clear Cache</button>
            </div>
            <div class="centered">
                <button class="button button-positive" ng-click="logout()">Logout</button>
            </div>
            <div id="message" class="centered" style="font-size: 24px"></div>
        </ion-list>
    </ion-content>
</ion-view>