<ion-view title="Teams">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Filters</span>
                <select>     
                
            
            
                        <div id="msg"></div>

                    <div id="form">

                        <p> 
                            Team ID (try ):
                            <input id= "teamid" />
                            <button id= "loadteambutton">Load</button>
                        </p>
                    </div>

                        <div id ="team">
                            <p> 
                            <p id ="team_name"></P>
                            <table id="dteamtable" class="display" width="100%"></table>
                            
                            </p>
                        </div>

                        
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>