<ion-view title="Teams">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
                        
            <div id="msg"></div>

            <div id="form">
                <p> 
                    <label class="searchbar item item-input barmargin">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" id="teamid" placeholder="Search">
                    </label>
                    <button on-tap="onTap()" class="button button-stable smallbutt" id="loadteambutton">Search</button>
                </p>
            </div>

            <div id ="team">
                <p> 
                    <p id ="team_name"></P>
                    <table id="dteamtable" class="display" width="100%"></table>
                </p>
            </div>                        
        </form>
    </ion-content>
</ion-view>